---
page_title: "datafy_account Data Source - datafy"
subcategory: ""
description: |-
  Retrieves information about an existing Datafy account.
---

# datafy_account (Data Source)

Use this data source to retrieve information about an existing Datafy account. This is useful when you need to reference an account that was created outside of Terraform or in a different Terraform configuration.

## Example Usage

{{ tffile "examples/data-sources/datafy_account/data-source.tf" }}

### Use with Other Resources

```terraform
data "datafy_account" "existing" {
  id = "79c406c5-7b64-43f2-ba76-9b01e74e3d90"
}

resource "datafy_role_arn" "example" {
  account_id = data.datafy_account.existing.id
  arn        = "arn:aws:iam::123456789012:role/DatafyRole"
}
```

{{ .SchemaMarkdown | trimspace }}
